<div class="recipe-list" *ngFor="let recipe of cookingRecipes">
  <div class="recipe-card">
    <div class="header content">
      <div class="recipe-title">({{recipe.RecipeId}}) {{recipe.Recipe.Name}}
      </div>
      <img class="recipe-image right" [src]="getIconUrl(recipe.Recipe.IconId)">
    </div>
    <div class="content">
      Skill gained: {{recipe.Recipe.RewardSkill}}
      <p>{{recipe.Recipe.Description}}</p>
      Required Level: {{recipe.Recipe.SkillLevelReq}}
      <ul>
        <li *ngFor="let ingredient of recipe.Recipe.Ingredients">
          <app-item-viewer [item]="ingredient"></app-item-viewer>
        </li>
      </ul>

      <div *ngIf="recipe.Recipe.Source != undefined">
        <p>How Learned:</p>

        <ul>
          <li *ngFor="let source of recipe.Recipe.Source.Source">

            <app-source-viewer [item]="source" [items]="itemArray"></app-source-viewer>
          </li>
        </ul>
      </div>

    </div>
  </div>